<nav class="navbar navbar-expand-lg" id="top">
    
    <a class="navbar-brand" href="#">
        <img src="./assets/images/homeimage2.jpg" width="130" height="130" alt="" id="navbarImg">
    </a>
    <div class="collapse navbar-collapse ml-auto" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/artwork">ArtWorks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/documentation">Documentation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/favorites">Favorites</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>