
<div class="how-section1">
    <div class="row">
        <div class="col-lg-8">
            <img src="./assets/images/Chicago_Featured.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-4">
            <h4>The Art Institute of Chicago</h4>
            <h4 class="subheading">Art Gallery</h4>
            <p class="text-muted">The Art Institute of Chicago, founded in 1879, is one of the oldest and largest art museums in the world. It is based in the Art Institute of Chicago Building in Chicago's Grant Park. Recognized for its curatorial efforts and popularity among visitors, its collection, stewarded by 11 curatorial departments, is encyclopedic, and includes works such as Georges Seurat's A Sunday on La Grande Jatte, Pablo Picasso's The Old Guitarist, Edward Hopper's Nighthawks, and Grant Wood's American Gothic. Its permanent collection of nearly 300,000 works of art is augmented by more than 30 special exhibitions mounted yearly that illuminate aspects of the collection and present curatorial and scientific research.</p>
            <p class="text-muted">The museum contains more than 300,000 works of art. It is especially noted for its extensive collections of 19th-century French painting and 20th-century painting and sculpture.</p>

            <p class="text-muted">
                The Art Institute is associated with the School of the Art Institute of Chicago, a leading art school,
                making it one of the few remaining unified arts institutions in the United States.</p>
        </div>
    </div>
</div>